@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.navbar_button {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 19.8066px 28.4403px -18.283px rgba(255, 255, 255, 0.5),
    inset 0px 0.507862px 20.3145px rgba(144, 156, 255, 0.4);
  backdrop-filter: blur(50.7862px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;
}

canvas {
  height: auto;
}
